.mod
  background-color: color-light
  // box-shadow(0 0.1rem 0.2rem rgba(color-black, 0.1))
  padding: mod-padding-desktop
  margin-bottom: 1.5rem
  border-radius: mod-border-radius
  display: block

.mod-secondary
  @extend .mod
  background-color: color-bg-mod-secondary

.mod-sm
  @extend .mod
  padding: 3rem 2rem

.mod-internal
  @extend .mod
  margin-bottom: 0
  border-bottom: border-light

.mod-sm-internal
  @extend .mod-sm
  margin-bottom: 0
  border-bottom: border-light

.mod-breadcrumb
  @extend .type-small
  margin-top: space*5
  margin-bottom: space*2
  color: color-type-secondary

  > *
    display: inline-block
    vertical-align: middle

  .carat
    font-size: 0.7rem
    padding: 0 0.5rem
