.slick-slider
  margin-top: 6rem

.slick-slide
  &:focus
    outline: none

.slick-dots
  top: -4rem
  bottom: auto

  button
    &:before
      font-size: 3rem !important

  .slick-active
    button
      &:before
        color: color-brand !important
