.mod-table
  background-color: color-light

  thead
    border-bottom: border-light

  .reactive-table-options
    background-color: color-bg
    @extend .clearfix

  .reactive-table-filter
    padding: space*4 0
    float: left

  .reactive-table-navigation
    padding: space*4
