form
  .form-group
    position relative

  .form-group .control-label
    float none
    position absolute
    top -1.5ex
    left 0.5em
    padding 0 0.25em 0.25em
    color color-brand
    display block
    background-color color-grey-xxlight

  .form-group .form-control
    border 1px solid color-brand
    border-radius 2px
    text-shadow none
    box-shadow none
    width 100%
    height 4.5rem
    padding 0 1em
    min-width initial

  .panel
    margin-bottom 2rem

// .form-group {
//   margin:20% auto 0 auto;
//   padding:20px;
//   width:60%;
//   height:auto;
//   overflow:hidden;
//   background:#f9f9f9;
// }

// .form-group input,
// .form-group label {
//   display:inline-block;
// }

// .form-group .input-group {
//   position:relative;
// }

// .form-group input,
// .form-group label {
//   margin-right:20px;
//   padding:20px 0;
//   width:250px;
//   font-family:georgia;
//   font-size:18px;
// }

// .form-group input {
//   outline:none;
//   background:transparent;
//   border:none;
//   border-bottom:2px solid cornflowerblue;
//   color:gray;
// }

// .form-group input[type="submit"] {
//   padding:20px;
//   width:auto;
//   border:2px solid cornflowerblue;
//   color:cornflowerblue;
//   cursor:pointer;
//   font-family:tahoma;
// }

// .form-group input[type="submit"]:hover {
//   background:cornflowerblue;
//   color:white;
// }

// .form-group label {
//   position:absolute;
//   top:50%;
//   left:0;
//   transform:translateY(-50%);
//   pointer-events:none;
//   font-style:italic;
//   color:#bbb;
//   transition:.2s ease all;
// }

// .form-group input:focus {
//   border-color:lightgray;
// }

// .form-group input:focus ~ label,
// .form-group input.has-value ~ label {
//   top:0;
//   font-size:12px;
//   color:cornflowerblue;
// }