.clearfix
  &:after
    content: " "
    visibility: hidden
    display: block
    font-size: 0
    clear both
    height: 0

.grid-wrap
  margin: 0 auto
  padding: 0 grid-page-gutter
  max-width: mq-sm-width + 20rem

  @media mq-med
    max-width: mq-med-width + 50rem

  @media mq-med-desk
    padding: 0 grid-page-gutter-mobile
    max-width: none
    margin: 0

  @media mq-lg
    max-width: grid-width

.grid-row
  @extend .clearfix
  padding: 0 grid-page-gutter-mobile

  &:before
  &:after
    display: none

  @media mq-med
    padding: 0 grid-page-gutter
    margin-left: -(grid-gutter)

for i in 1 2 3 4
  .grid-{i}
    grid-col i

.grid-left-sidebar
  @media mq-med
    width: 20%
    float: left

  @media mq-lg
    width: 17%

.grid-posts

  @media mq-med
    float: left
    width: 80%
    padding-left: space*2

  @media mq-lg
    width: 56%
