@font-face {
	font-family: 'icons';
	src:url('/packages/admithub_admithub-styles/public/icons/fonts/icons.eot?6l40wk');
	src:url('/packages/admithub_admithub-styles/public/icons/fonts/icons.eot?#iefix6l40wk') format('embedded-opentype'),
		url('/packages/admithub_admithub-styles/public/icons/fonts/icons.woff?6l40wk') format('woff'),
		url('/packages/admithub_admithub-styles/public/icons/fonts/icons.ttf?6l40wk') format('truetype'),
		url('/packages/admithub_admithub-styles/public/icons/fonts/icons.svg?6l40wk#icons') format('svg');
	font-weight: normal;
	font-style: normal;
}

[class^="icon-"], [class*=" icon-"], .icon  {
	font-family: 'icons';
	speak: none;
	font-style: normal;
	font-weight: normal;
	font-variant: normal;
	text-transform: none;
	line-height: 1;

	/* Better Font Rendering =========== */
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
}

.icon-envelope:before {
	content: "\e61b";
}
.icon-phone:before {
	content: "\e61c";
}
.icon-heart:before {
	content: "\e601";
}
.icon-plus:before {
	content: "\e602";
}
.icon-man:before {
	content: "\e609";
}
.icon-woman:before {
	content: "\e611";
}
.icon-x:before {
	content: "\e617";
}
.icon-carat-down:before {
	content: "\e618";
}
.icon-carat-left:before {
	content: "\e619";
}
.icon-carat-right:before {
	content: "\e61a";
}
.icon-buzzfeed:before {
	content: "\e600";
}
.icon-chat-triangle:before {
	content: "\e603";
}
.icon-check:before {
	content: "\e604";
}
.icon-facebook:before {
	content: "\e605";
}
.icon-github-octocat:before {
	content: "\e606";
}
.icon-google-plus:before {
	content: "\e607";
}
.icon-hamburger:before {
	content: "\e608";
}
.icon-how-to-get-into-your-harvard:before {
	content: "\e60a";
}
.icon-link:before {
	content: "\e60b";
}
.icon-linked-in:before {
	content: "\e60c";
}
.icon-logo-21:before {
	content: "\e60d";
}
.icon-logo:before {
	content: "\e60e";
}
.icon-magnifying-glass:before {
	content: "\e60f";
}
.icon-microphone:before {
	content: "\e610";
}
.icon-robot:before {
	content: "\e612";
}
.icon-start:before {
	content: "\e613";
}
.icon-talking:before {
	content: "\e614";
}
.icon-tumblr:before {
	content: "\e615";
}
.icon-twitter-bird:before {
	content: "\e616";
}
