.l-tile-wrap
  margin-left: (l-gutter * -1)
  margin-bottom: (l-gutter * -1)
  @extend .clearfix

.l-tile-content
  padding-left: l-gutter
  padding-bottom: l-gutter
  display: block

for i in 1..21
  @media mq-med
    .l-tile-{i}
        float: left
        width: (100%/i)

        &:nth-child($i + 1)
          clear both

    for j in 1..i
      .l-tile-{j}-of-{i}
        float: left
        width: (100%/i)*j

// .yield
//   background-color: color-grey-xxlight

.pg-title
  margin: 5rem 0 3rem 0

.l-center-vertical
  position: relative
  top: 50%
  transform: translateY(-50%)
