.no-pad-y
  padding-top: 0 !important
  padding-bottom: 0 !important

.no-pad-x
  padding-left: 0 !important
  padding-right: 0 !important

.no-mar
  margin: 0 !important

.no-mar-bottom
  margin-bottom: 0 !important

.no-border
  border: 0 !important

.nowrap
  white-space: nowrap !important;
