.space-small
  margin-bottom: 0.5rem

.space-medium
  margin-bottom: 1rem

.space-large
  margin-bottom: 2rem

.space-padded-large
  padding: 2rem

.space-stretch
  width: 100%

for i in (1..20)
  .s{i}-mar-bottom
    margin-bottom: space*i

  .s{i}-mar-right
    margin-right: space*i

  .s{i}-mar-top
    margin-top: space*i

  .s{i}-pad-y
    padding-top: space*i
    padding-bottom: space*i
