/*************************************************
 * TYPOGRAPHY MIXIN
 *************************************************/

type-size(size, line = 1.5)
  font-size: unit(size 'px') // @TODO: where is `unit()` mixin declaration?
  font-size: unit(size/10 'rem')
  line-height: unit(line 'em')

remify(value)
  u = unit(value)

  if u is 'px'
    return unit(value/10 'rem')
  else
    return unit(value u)

/*************************************************
 * EXENTENDABLE
*************************************************/
.type-sans
  font-family: font-sans

.type-serif
  font-family: font-serif

.type-xsmall
  type-size(13)

.type-small
  type-size(15, 1.5)

.type-medium
  type-size(18, 1.4)

.type-large
  type-size(24, 1.3)

.type-xlarge
  type-size(32, 1.3)

.type-huge
  type-size(44, 1.2)

.type-xhuge
  type-size(60, 1)

.type-secondary
  color: color-type-secondary
  a
    color: color-link

.type-icon-inline
  font-size: 1rem
  margin-left: (space/2)

/*************************************************
* TYPOGRAPHY COMMON
*************************************************/
html
  font-size: base-font-size
  @media mq-xsm-desk
    font-size: base-font-size-xsm

body,
input,
button
  @extend .type-sans
  @extend .type-medium
  -webkit-font-smoothing: antialiased
  color: color-type

// Placeholder styles can't be stacked with any other selector, or browsers
// ignore them.
input
  +placeholder()
    // Careful setting sizes without checking line-heights in firefox and chrome
    @extend .type-secondary

a
  color: color-link
  transition: color 0.2s
  text-decoration: none

  &:hover
    color: color-grey-xdark

p
  @extend .type-serif

h1, h2, h3, h4, h5, h6
  @extend .type-serif
  font-weight: bold

h1
  @extend .type-huge
h2
  @extend .type-xlarge
h3
  @extend .type-large
  margin-bottom: space*2
h4
  @extend .type-medium
  margin-bottom: space*2
h5
  @extend .type-small
h6
  @extend .type-xsmall
strong
  font-weight: bold


/*************************************************
 * CONTRAST SCHEME
 *************************************************/

.alt-on-dark
  color: color-light
  a
    color: color-light
  .type-secondary
    color: rgba(color-light, 0.5)

.alt-on-light
  a
    color: color-link
