.ui-unbtn
  ui-unbtn()

.ui-btn,
.button,
.btn.btn-primary
  @extend .type-sans
  @extend .type-medium
  inline-block()
  transition: background-color 0.15s
  text-align: center
  border: 0
  cursor pointer
  ui-btn-color: color-brand-cool, color-light
  padding: 0 ui-padding
  border-radius: ui-border-radius
  ui-height: ui-height-default
  font-weight: bold
  box-shadow: inset 0px -1px 0px rgba(0,0,0,0.25), inset 0px 1px 2px rgba(255,255,255,0.25)
  text-transform: uppercase

  > *
    inline-block()
    vertical-align: middle

    &.button-loader
      display: none

  &:hover
    text-decoration none

  .icon-carat-right
    type-size(15)

.ui-sm
  @extend .type-small
  ui-height: ui-small-height
  padding: 0 ui-padding/2

.ui-pill-checked
  @extend .ui-btn
  border: border-secondary

  &.ui-small
    ui-height: ui-small-height + 0.4rem false

  .icon-check
    color: color-brand-cool

.ui-btn-next-prev
  width: 12rem

  @media mq-sm
    width: 18rem

.ui-btn-secondary
  @extend .ui-btn
  border: ui-btn-secondary-border
  ui-btn-color: color-light color-grey-dark

.ui-btn-circle
  padding: 0
  border-radius: 100px
  pos-y-center-companion()
  line-height: inherit
  width: ui-height-default

  &.ui-small
    width: ui-small-height
    padding: 0
    border-radius: 100px

  .icon-x
    type-size(12)

.ui-large
  @extend .type-medium
  ui-height: ui-large-height

  .icon-carat-right
    type-size(20)


.ui-xsmall
a.ui-xsmall
  ui-xsmall()

.ui-round
  border-radius: 10rem !important

.ui-btn-icon-right
  margin-left: 1em

.ui-btn-with-rank
  padding-right: 0

.ui-rank
  padding-right: ui-padding
  span
    border-left: 1px solid rgba(color-light, 0.35)
    margin-left: ui-padding - 0.4rem
    padding-left: ui-padding

.ui-btn-set-middle
  > *
    margin: 0 0.75rem

.ui-btn-set-left
  > *
    margin-right: 1.5rem
    margin-bottom: 1.5rem

    &:last-child
      margin-right: 0

.ui-btn-set-right
  > *
    margin-left: 1.5rem
    margin-bottom: 1.5rem


.ui-btn-facebook
.ui-btn-twitter
.ui-btn-linked-in
.ui-btn-google-plus
  @extend .ui-btn
  position: relative

  i
    position: absolute
    left: (space/2)
    top: 50%
    margin-top: -0.5em
    line-height: 1em

.ui-btn-facebook
  ui-btn-color: color-facebook

.ui-btn-twitter
  ui-btn-color: color-twitter

.ui-btn-linked-in
  ui-btn-color: color-linked-in

.ui-btn-google-plus
  ui-btn-color: color-google-plus

.ui-tag
  background-color: #f2e9ee
  border-radius: 10rem
  padding: 0.2rem 0.75rem

.ui-btn-x
  font-size: 2.5rem
  color: color-red
  background-color: rgba(color-red, 0.15)
  border: 0

  &:hover
    color: color-red
    background-color: rgba(color-red, 0.25)

.ui-btn-heart
  font-size: 3rem
  background-color: rgba(color-brand-cool, 0.15)
  color: color-brand-cool

  &:hover
    color: color-brand-cool
    background-color: rgba(color-brand-cool, 0.25)

.ui-btn-x
.ui-btn-heart
  padding: 0
  width: 6.5rem

.ui-avatar
  width: 50px
  height: 50px
  border-radius: 50%
  overflow: hidden

