
// GLOBAL
base-font-family = ''
base-font-size = 10px
base-font-size-xsm = 8px
img-path = '/packages/admithub_admithub-telescope-theme/public/img/'
space = 0.5rem
row-space = (space*2)


/*************************************************
 * TYPOGRAPHY
 *************************************************/
// typekit
tk-head = "proxima-nova"
tk-body = "adobe-caslon-pro"

// font family stack
font-sans = tk-head, "helvetica neue", "helvetica", "arial", sans-serif
font-serif = tk-body, "georgia", serif

layout-space = 1.4rem
l-gutter = space*6

grid-gutter = layout-space*2
grid-width = 145rem
grid-page-gutter = 4.5rem
grid-page-gutter-mobile = grid-page-gutter*0.75

g-header-height = 5.7rem
g-header-row-height = g-header-height*0.65
g-header-search-height = 3.5rem
g-header-search-mobile-height = 5rem
g-header-search-input-padding = 2rem
g-header-nav-space = 0.75rem
g-header-touts-sponsor-height = 3rem

comment-avatar-width = 4.5rem
comment-width = 75rem


/*************************************************
 * COLORS
 *************************************************/
color-light                        = #fff
color-black                        = #000
color-grey-xxlight                 = #f5f2f4
color-grey-xlight                  = #f5f5f5
color-grey-light                   = #d5d5d5
color-grey-med                     = #aaa
color-grey-dark                    = #736d72
color-grey-xdark                   = #222

color-brand                        = #992C73
color-brand-dark                   = #582A47
color-brand-light                  = #cc96b9
color-brand-light-transparent      = rgba(color-brand-light, 0.2)

// color-brand-cool                = #13ae8a
color-brand-cool                   = #57C0B9
color-brand-cool-dark              = #6ea9a5
color-brand-cool-light             = #8fd5d0
color-brand-cool-light-transparent = rgba(color-brand-cool-light, 0.2)

color-type                         = #253a40
color-type-dark                    = color-type
color-type-light                   = #fff9ec
color-type-secondary               = #80777d

color-blue                         = #3f65d9
color-blue-light                   = #9fb2ec
color-blue-light-transparent       = rgba(color-blue-light, 0.2)

color-chat-unread                  = #be2f5a
color-red                          = #db396a
color-yellow                       = #bf8a02
color-maroon                       = #7f296b

color-twitter                      = #00aced
color-facebook                     = #3b5998
color-linked-in                    = #007bb6
color-github                       = #222
color-google-plus                  = #c63d2d
color-border                       = #ebe1e9
color-border-light                 = lighten(color-border, 3)
color-bg                           = #fff
color-bg-mod-secondary             = #f0ebe9

color-chat-sidebar                 = #f5f5f5
color-chat-background              = #f2edf1
color-chat-me                      = #e6dfe4
color-chat-other                   = color-light

color-link                         = color-brand
color-ui-form-input                = #fafafa

color-bgr-light                    = #fff9ec

hero-mask                          = rgba(66, 46, 60, 0.8)
control-mask                       = rgba(38, 15, 30, 0.3)
control-mask-mobile                = rgba(38, 15, 30, 0.85)

/*************************************************
 * BORDERS
 *************************************************/
border-style = 0.1rem solid
border = border-style color-border
border-light= border-style color-border-light


/*************************************************
 * UI
 *************************************************/
ui-padding = 1.5em
ui-border-radius = 0.2rem
ui-input-border = border-style color-grey-light

ui-form-checkbox-size = 2rem

ui-height-default = 4.5rem
ui-small-height = 3rem
ui-xsmall-height = 2.25rem
ui-large-height = 6rem
ui-btn-secondary-border = border-style #e5e5e5


/*************************************************
 * MODULES
 *************************************************/
mod-section-header-divide-width = 7.5rem
mod-section-header-divide-height =  0.1rem
mod-section-header-divide-space = grid-gutter
mod-dropdown-width = 17.5rem

mod-padding-desktop = 4rem


mod-border-radius = ui-border-radius * 0

class-list-inputs = '.ui-f-input, input[type=text], input[type=password], input[type=email]'

pg-home-bullets-icon-size = 7.5rem
pg-home-team-member-avatar-width = 30%
pg-home-newsletter-left-width = 35%
pg-home-newsletter-submit-width = 17rem

pg-products-product-top = -1.5rem
pg-products-featured-product-top = -3rem
pg-products-product-height = 48rem
pg-products-padding = 3rem

pg-partners-img-width = 12.5rem
pg-partners-contrib-avatar-width = 8.5rem

pg-college-cover-height = 17rem
pg-college-cover-height-med = 26rem
pg-college-slider-height = 3rem

mq-xsm-width  = 400px
mq-sm-width  = 600px
mq-med-width = 800px
mq-lg-width  = 1150px
mq-xlg-width  = 1500px

mq-text = "only screen and (min-width: "
mq-desktop-first-text = "only screen and (max-width: "

mq-xsm      = mq-text + mq-xsm-width + ")"
mq-sm       = mq-text + mq-sm-width + ")"
mq-med      = mq-text + mq-med-width + ")"
mq-lg       = mq-text + mq-lg-width + ")"
mq-xlg      = mq-text + mq-xlg-width + ")"
mq-lg-desk  = mq-desktop-first-text + mq-lg-width + ")"
mq-med-desk = mq-desktop-first-text + mq-med-width + ")"
mq-sm-desk  = mq-desktop-first-text + mq-sm-width + ")"
mq-xsm-desk = mq-desktop-first-text + mq-xsm-width + ")"

at-sep-height = 0.1rem
