.mod-dropdown-trigger
  position relative
  &:hover
    .mod-dropdown
      display block

.g-header-nav .mod-dropdown 
.mod-dropdown
  display none
  position absolute
  right 0
  top 100%
  background-color color-white
  min-width mod-dropdown-width
  ui-border-radius()
  text-align left
  border border
  z-index 1
  border 0
  border-bottom-left-radius 2px
  border-bottom-right-radius 2px

  a
    color color-link 

  li
    @media mq-med
      margin 0 

  li:last-child
    {class-list-header-links}
      border-bottom 0
    a
      border-bottom-left-radius 2px
      border-bottom-right-radius 2px

.mod-dropdown-center
  @extend .mod-dropdown
  pos-x-center mod-dropdown-width


.mod-dropdown-text-link-list
  a
    color color-link
    display block
    padding 1rem
    type-xsmall()
    border-bottom border
    transition-property none

    &:hover
      background-color color-border
