.mod-table
  background-color color-white

  thead
    border-bottom border-light

  .reactive-table-options
    background-color color-bg
    clearfix()

  .reactive-table-filter
    padding space*4 0 
    float left

  .reactive-table-navigation
    padding space*4
