.g-footer
  @extend .type-sans
  @extend .type-small
  @extend .clearfix
  padding: 1em 0
  background: color-brand
  margin-top: 2em

.g-footer-links
  display: flex
  flex-wrap wrap
  justify-content space-between
  @media mq-med-desk
    justify-content center
  .g-footer-link
    display: inline-block
    color: color-text-light
    text-transform: uppercase
    margin-right: 2em
    @media mq-med-desk
      padding: 1rem 2rem

.g-footer-copyright
  background: color-brand
  color: color-text-light
  p
    font-style: italic
    margin-bottom: 0
    line-height: grid-page-gutter

.g-footer-links-social,
.g-footer-links-company
  column(6/12)
