.g-footer
  @extend .type-sans
  @extend .type-small
  @extend .clearfix
  padding: 1em 0
  background: color-brand
  margin-top: 2em
  text-align: center
  @media mq-med
    text-align: left

  .g-footer-links-company
    margin-bottom: 1em
    @media mq-med
      column(6/12)
      margin-bottom: 0

  .g-footer-links-social
    @media mq-med
      column(6/12)
      text-align: right


.g-footer-link
  display: inline-block
  color: color-type-light
  text-transform: uppercase
  margin-right: 1.5em
  font-weight: bold
  font-size: 1.2rem
  &:last-child
    margin-right: 0
  &:hover
    color: color-brand-cool

.g-footer-copyright
  background: color-brand
  color: color-type-light
  p
    font-style: italic
    margin-bottom: 0
    line-height: grid-page-gutter
