.footer
  margin-top: (space*6)
  padding: 0
  clear both

.g-footer
  padding: 0
  @extend .type-small
  @extend .clearfix



.g-footer-links
  padding: grid-gutter 0
  display: flex
  flex-wrap wrap
  justify-content space-between
  @media mq-med-desk
    justify-content center
  .g-footer-link
    display: inline-block
    padding: 1rem 0
    color: color-brand
    text-transform: uppercase
    @media mq-med-desk
      padding: 1rem 2rem

.g-footer-copyright
  background-color: color-brand-dark
  color: white
  p
    @extend .type-serif
    margin-bottom: 0
    line-height: grid-page-gutter


.g-landing-footer
  background-color: color-grey-xxlight
